@import '../../assets/styles/theme.scss';

#header-bar {
  color: white;
  background-color: $primary-color;
  margin-bottom: 1rem;
}

#header-content {
  padding: 1rem 0;
  margin: 0 auto;
  width: $content-width;
}

#title-site {
  margin: 0;
  font-size: 1.4rem;
}

.content {
  width: $content-width;
  margin: 0 auto;
}
