body {
  margin: 0 auto;
  padding: 0;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1d1d1f;
  width: 900px;
}

#react-root {
  margin: 1rem;
}

h1 {
  color: #1d1d1f;
}

p {
  color: #86868b;
}

ul {
  line-height: 25px;
  font-size: 17px;
  color: #333333;
}
